.taskListWrapper {
  width: 46rem;
  margin: 4rem 0;
  max-width: 46rem;
  min-height: 18rem;
}

.taskListWrapper header {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  margin: 1.5rem 0;
  min-height: 18rem;
  border-radius: 8px;
  align-items: center;
  flex-direction: column;
  border-top: solid 1px var(--gray-400);
}

.listItem {
  color: var(--gray-100);
  background: var(--gray-500);

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 4.5rem;
  padding: 0 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
}

.listItem:not(:first-child) {
  margin: 0.750rem 0;
}

.emptyListWrapper {
  height: 18rem;
  display: flex;
}

.emptyList {
  display: flex;
  line-height: 1.5;
  align-items: center;
  color: var(--gray-300);
  flex-direction: column;
  justify-content: center;
}

.emptyList svg {
  color: var(--gray-400);
}

.descriptionItem {
  display: flex;
  align-items: center;
}

.actionItem button {
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  color: var(--gray-300);
  background: transparent;
}

.labelCreatedTasks {
  font-weight: bold;
  color: var(--blue);
}

.labelCompletedTasks {
  font-weight: bold;
  color: var(--purple);
}

.counter {
  color: var(--gray-200);
  background: var(--gray-400);

  margin: 0 0.5rem;
  font-weight: bold;
  font-size: 0.750rem;
  border-radius: 9999px;
  padding: 0.15rem 0.450rem;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  margin-right: 1rem;
  border: 2px solid var(--blue);

  transition: background-color 0.1s;
}

input[type="checkbox"]:checked {
  background-color: var(--purple-dark);
  border: 2px solid var(--purple-dark);
}

input[type="checkbox"]:checked + label {
  color: var(--gray-300);
  text-decoration: line-through;
  transition: background-color 0.3s;
}

input[type="checkbox"]:checked::after {
  content: '';
  top: 2px;
  left: 5px;
  width: 6px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}