.taskListWrapper {
  width: 46rem;
  margin: 4rem 0;
  max-width: 46rem;
  min-height: 18rem;
}

.taskListWrapper header {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  margin: 1.5rem 0;
  min-height: 18rem;
  border-radius: 8px;
  align-items: center;
  flex-direction: column;
  border-top: solid 1px var(--gray-400);
}

.emptyListWrapper {
  height: 18rem;
  display: flex;
}

.emptyList {
  display: flex;
  line-height: 1.5;
  align-items: center;
  color: var(--gray-300);
  flex-direction: column;
  justify-content: center;
}

.emptyList svg {
  color: var(--gray-400);
}

.labelCreatedTasks {
  font-weight: bold;
  color: var(--blue);
}

.labelCompletedTasks {
  font-weight: bold;
  color: var(--purple);
}

.counter {
  color: var(--gray-200);
  background: var(--gray-400);

  margin: 0 0.5rem;
  font-weight: bold;
  font-size: 0.750rem;
  border-radius: 9999px;
  padding: 0.15rem 0.450rem;
}